# Turn on URL rewriting
# RewriteEngine On

# Installation directory
# /

# Protect hidden files from being viewed
<Files .*>
	Order Deny,Allow
	Deny From All
</Files>

RewriteCond %{HTTP_HOST} ^jotbook\.net [NC]
RewriteCond %{HTTP_HOST}   !^$
RewriteRule ^/?(.*)         https://www.jotbook.net/$1 [L,R=301,NE]

RewriteCond %{HTTPS} off
RewriteRule ^(.well-known)($|/) - [L]

RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Protect application and system files from being viewed
RewriteRule ^(?:application|modules|system)\b.* index.php/$0 [L]

RewriteRule ^list/([a-zA-Z0-9\-_]*)$ list/$1/ [R,L]
RewriteRule ^([a-zA-Z0-9\-_]*)/([a-zA-Z0-9\-_]*)$ $1/$2/ [R,L]

# Rewrite all other URLs to index.php/URL
RewriteRule ^list/(([a-zA-Z0-9\-_]*))/$ index.php?list_id=$1&owner_name=list [QSA,L]

# Rewrite all other URLs to index.php/URL
RewriteRule ^list/([a-zA-Z0-9\-_]*)/ajax.php ajax.php?list_id=$1&owner_name=list [QSA,L]

# Rewrite all other URLs to index.php/URL
RewriteRule ^list/([a-zA-Z0-9\-_]*)/(.*) $2 [QSA,L]



# Rewrite all other URLs to index.php/URL
RewriteRule ^([a-zA-Z0-9\-_]*)/([a-zA-Z0-9\-_]*)/$ index.php?owner_name=$1&list_id=$2 [QSA,L]

# Rewrite all other URLs to index.php/URL
RewriteRule ^([a-zA-Z0-9\-_]*)/([a-zA-Z0-9\-_]*)/ajax.php ajax.php?owner_name=$1&list_id=$2 [QSA,L]

# Rewrite all other URLs to index.php/URL
RewriteRule ^([a-zA-Z0-9\-_]*)/([a-zA-Z0-9\-_]*)/(.*) $3 [QSA,L]



